{% extends 'blog/base.html' %}
{% block content %}
    <!-- Page Features -->
    <div class="row text-center">
        {% for post in posts %}
        <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title | safe }}</h4>
                        <p class="card-text">{{ post.content | safe | truncatechars:100}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->
{% endblock content %}